@model HukukBuroYonetimSistemi.Models.View.MahkemeEkleViewModel

<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

        <div class="white-box">

            <form method="post" action="/Mahkeme/Kaydet">
                <div class="container-fluid">
                    <div class="row">
                    <!-- Geçiş Düğmeleri -->
                    <div class="form-group">
                        <button id="mahkemeBtn" type="button" class="btn btn-primary">Mahkeme</button>
                        <button id="digerBtn" type="button" class="btn btn-secondary">Diğer</button>
                    </div>

                        <!-- Mahkeme Section (Left Side) -->
                    <div class="col-md-6" id="mahkemeSection">
                        <div class="col-md-6">
                            <h3 class="box-title">Mahkeme</h3>

                        @foreach (var item in Model.MahkemelerWebViews)
                        {
                            if (item.IdForView == "YargiTuru" || item.IdForView == "YargiBirimi" ||
                            item.IdForView == "GelenEvrakTuru" || item.IdForView == "TebligTuru")
                            {
                                <div class="form-group">
                                    <label for="@item.ForForView" class="col-form-label">@item.LabelForView</label>
                                    <select id="yargiTuruSelect" name="@item.NameForView" class="form-control">
                                        @if (item.IdForView == "YargiTuru")
                                        {
                                            foreach (var value in Model.MahkemelerWebViewsValues)
                                            {
                                                if (value.MahkemeWebViewId == item.Id)
                                                {
                                                    <option value="@value.Value" data-id="@value.Id">@value.Value</option>
                                                }
                                            }
                                        }
                                        else if (item.IdForView == "YargiBirimi")
                                        {
                                            var YargiBirimiIds = Model.MahkemelerWebViewsValues
                                            .Where(v => v.Id < 8)
                                            .Select(v => v.Value)
                                            .ToList();

                                            var mahkemeWebViewId = 1;

                                            var relatedYargiBirimleri = Model.MahkemelerWebViewsValues
                                            .Where(v => v.RelationId == mahkemeWebViewId)
                                            .ToList();
                                            
                                            foreach (var value in relatedYargiBirimleri)
                                            {
                                                <option data-id="@value.Id" value="@value.Value">@value.Value</option>
                                            }
                                        }
                                        else if (item.IdForView == "GelenEvrakTuru")
                                        {
                                            var YargiBirimiIds = Model.MahkemelerWebViewsValues
                                            .Where(v => v.Id < 47 && v.Id >43)
                                            .Select(v => v.Value)
                                            .ToList();

                                            var mahkemeWebViewId = 8;

                                            var relatedYargiBirimleri = Model.MahkemelerWebViewsValues
                                            .Where(v => v.RelationId == mahkemeWebViewId)
                                            .ToList();

                                            foreach (var value in relatedYargiBirimleri)
                                            {
                                                <option data-id="@value.Id" value="@value.Value">@value.Value</option>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var value in Model.MahkemelerWebViewsValues)
                                            {
                                                if (value.MahkemeWebViewId == item.Id)
                                                {
                                                    <option value="@value.Value">@value.Value</option>
                                                }
                                            }
                                        }
                                        
                                    </select>
                                </div>
                            }
                            else if (item.IdForView == "Mahkeme" || item.IdForView == "DosyaNo")
                                    {
                                        <div class="form-group">
                                            <label for="@item.ForForView" class="col-form-label">@item.LabelForView</label>
                                            <input type="text" id="@item.IdForView" name="@item.NameForView" class="form-control" placeholder="@item.Placeholder">
                                        </div>
                                    }
                        }

                            @foreach (var item in Model.MahkemelerWebViews)
                            {
                                @*if (item.IdForView == "TebligTarihi" || item.IdForView == "DurusmaTarihi")*@
                                if (item.IdForView == "TebligTarihi")
                                {
                                    <div class="form-group">
                                        <label for=@item.ForForView class="col-form-label">@item.LabelForView</label>
                                        <input type="date" id=@item.IdForView name=@item.NameForView class="form-control" placeholder=@item.Placeholder>
                                    </div>
                                }
                            }

                        </div>
                        </div>
                        <!-- Diğer Section (Right Side) -->
                    <div class="col-md-6" id="digerSection" style="display:none;">
                        <div class="col-md-6">
                            <h3 class="box-title">Diğer</h3>

                            <!-- Diğer -->
                            <div class="form-group">
                                <label for="Diger" class="col-form-label">Diğer</label>
                                <select id="Diger" name="Diger" class="form-control">
                                    <option value="Ihtarname">İhtarname</option>
                                    <option value="Sozlesme">Sözleşme</option>
                                </select>
                            </div>

                            <!-- İş Türü -->
                            <div class="form-group">
                                <label for="IsTuru" class="col-form-label">İş Türü</label>
                                <select id="IsTuru" name="IsTuru" class="form-control">
                                    <option value="IsTuru">Dava Aç</option>
                                </select>
                            </div>

                            <!-- Gelme Tarihi -->
                            <div class="form-group">
                                <label for="GelmeTarihi" class="col-form-label">Gelme Tarihi</label>
                                <input type="date" id="GelmeTarihi" name="GelmeTarihi" class="form-control" placeholder="Gelme Tarihi">
                            </div>

                            <!-- Hedef Süre Son Gün -->
                            <div class="form-group">
                                <label for="HedefSureSonGun" class="col-form-label">Hedef Süre Son Gün</label>
                                <input type="date" id="HedefSureSonGun" name="HedefSureSonGun" class="form-control" placeholder="Hedef Süre Son Gün">
                            </div>

                            <!-- Görev -->
                            <div class="form-group">
                                <label for="Gorev" class="col-form-label">Görev</label>
                                <input type="date" id="Gorev" name="Gorev" class="form-control" placeholder="Görev">
                            </div>

                            <!-- Görev Atama -->
                            <div class="form-group">
                                <label for="GorevAtamalar" class="col-form-label">Görev Atama</label>
                                <select id="GorevAtamalar" name="GorevAtamalar" class="form-control">
                                    <option value="3">Mehmet Cem Sönmez</option>
                                    <option value="4">Yusuf Sönmez</option>
                                </select>
                            </div>
                        </div>
                        </div>
                    <!-- Kaydet -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                    </div>
                    </div>
            </form>
        </div>

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../wwwroot/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="../wwwroot/scss/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../wwwroot/scss/core/loader/spinner.scss"></script>
    <script src="../wwwroot/js/app-style-switcher.js"></script>
    <script src="../wwwroot/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="../wwwroot/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../wwwroot/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../wwwroot/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../wwwroot/plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="../wwwroot/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../wwwroot/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>

<script>
    var yargiTuruSelect = document.getElementById("yargiTuruSelect"); // Doğru bir şekilde hedeflendiğinden emin olun

    // Option seçildiğinde çalışacak fonksiyon
    yargiTuruSelect.addEventListener("change", function () {
        // Seçilen option elementini alın
        var selectedOption = yargiTuruSelect.options[yargiTuruSelect.selectedIndex];

        // Seçilen optionun data-id değerini alın
        var selectedId = selectedOption.getAttribute("data-id");

        // Mahkeme WebView Id'sini güncelleyin
        mahkemeWebViewId = selectedId;
        console.log("Yeni Mahkeme WebView ID: " + mahkemeWebViewId);

        // Yargı Türü'ne göre Yargı Birimi optionlarını güncelleyin
        updateYargiBirimiOptions(selectedId);
    });

    // Yargı Birimi optionlarını güncelleyen fonksiyon
    function updateYargiBirimiOptions(selectedYargiTuruId) {
        var yargiBirimleri = getYargiBirimleriByYargiTuru(selectedYargiTuruId);

        // Yargı Birimi select öğesini bulun
        var yargiBirimleriSelect = document.querySelector('select[name="YargiBirimi"]');

        if (yargiBirimleriSelect) {
            // Mevcut optionları temizleyin
            yargiBirimleriSelect.innerHTML = "";

            // Yeni optionları ekleyin
            yargiBirimleri.forEach(function (yargiBirimi) {
                yargiBirimleriSelect.appendChild(new Option(yargiBirimi.text, yargiBirimi.value));
            });
        }
    }

    // Yargı Türüne göre Yargı Birimi optionlarını getiren fonksiyon
    function getYargiBirimleriByYargiTuru(yargiTuruId) {
        var yargiBirimleri = [];

        if (yargiTuruId === "1") { // Ceza
            yargiBirimleri = [
                { value: "AĞIR CEZA MAHKEMESİ", text: "AĞIR CEZA MAHKEMESİ" },
                { value: "ASLİYE CEZA MAHKEMESİ", text: "ASLİYE CEZA MAHKEMESİ" },
                { value: "Bölge Adliye Mah. Ceza Dairesi", text: "Bölge Adliye Mah. Ceza Dairesi" },
                { value: "ÇOCUK AĞIR CEZA MAHKEMESİ", text: "ÇOCUK AĞIR CEZA MAHKEMESİ" },
                { value: "ÇOCUK MAHKEMESİ", text: "ÇOCUK MAHKEMESİ" },
                { value: "FİKRİ VE SİNAİ HAKLAR MAHKEMESİ", text: "FİKRİ VE SİNAİ HAKLAR MAHKEMESİ" },
                { value: "İCRA CEZA HAKİMLİĞİ", text: "İCRA CEZA HAKİMLİĞİ" },
                { value: "İNFAZ HAKİMLİĞİ", text: "İNFAZ HAKİMLİĞİ" },
                { value: "SULH CEZA HAKİMLİĞİ", text: "SULH CEZA HAKİMLİĞİ" },
                { value: "TRAFİK MAHKEMESİ", text: "TRAFİK MAHKEMESİ" },
                { value: "YARGITAY CEZA DAİRESİ İLK DERECE", text: "YARGITAY CEZA DAİRESİ İLK DERECE" },
                { value: "Diğer", text: "Diğer" },
            ];
        } else if (yargiTuruId === "3") { // Hukuk
            yargiBirimleri = [
                { value: "AİLE MAHKEMESİ", text: "AİLE MAHKEMESİ" },
                { value: "ASLİYE HUKUK MAHKEMESİ", text: "ASLİYE HUKUK MAHKEMESİ" },
                { value: "ASLİYE TİCARET MAHKEMESİ", text: "ASLİYE TİCARET MAHKEMESİ" },
                { value: "BAM Hukuk Dairesi(İlk Derece)", text: "BAM Hukuk Dairesi(İlk Derece)" },
                { value: "Bölge Adliye Mah. Hukuk Dairesi", text: "Bölge Adliye Mah. Hukuk Dairesi" },
                { value: "DENİZCİLİK İHTİSAS MAHKEMESİ", text: "DENİZCİLİK İHTİSAS MAHKEMESİ" },
                { value: "FİKRİ VE SİNAİ HAKLAR HUKUK", text: "FİKRİ VE SİNAİ HAKLAR HUKUK" },
                { value: "İCRA HUKUK MAHKEMESİ", text: "İCRA HUKUK MAHKEMESİ" },
                { value: "İŞ MAHKEMESİ", text: "İŞ MAHKEMESİ" },
                { value: "KADASTRO MAHKEMESİ", text: "KADASTRO MAHKEMESİ" },
                { value: "SULH HUKUK MAHKEMESİ", text: "SULH HUKUK MAHKEMESİ" },
                { value: "TÜKETİCİ MAHKEMESİ", text: "TÜKETİCİ MAHKEMESİ" },
                { value: "Diğer", text: "Diğer" },
            ];
        }
        else if (yargiTuruId === "4") { // İcra
            yargiBirimleri = [
                { value: "İCRA DAİRESİ", text: "İCRA DAİRESİ" },
                { value: "Diğer", text: "Diğer" },
            ];
        }
        else if (yargiTuruId === "5") { // İdari Yargı
            yargiBirimleri = [
                { value: "BÖLGE İDARE MAHKEMESİ", text: "BÖLGE İDARE MAHKEMESİ" },
                { value: "İDARE MAHKEMESİ", text: "İDARE MAHKEMESİ" },
                { value: "VERGİ MAHKEMESİ", text: "VERGİ MAHKEMESİ" },
                { value: "Diğer", text: "Diğer" },
            ];
        }
        else if (yargiTuruId === "6") { // Satış Memurluğu
            yargiBirimleri = [
                { value: "SATIŞ MEMURLUĞU", text: "SATIŞ MEMURLUĞU" },
                { value: "Diğer", text: "Diğer" },
            ];
        }
        else if (yargiTuruId === "7") { // Cbs
            yargiBirimleri = [
                { value: "Cbs", text: "Cbs" },
                { value: "Diğer", text: "Diğer" },
            ];
        }

        return yargiBirimleri;
    }
</script>

<script>
    var mahkemeBtn = document.getElementById("mahkemeBtn");
    var digerBtn = document.getElementById("digerBtn");

    var mahkemeSection = document.getElementById("mahkemeSection");
    var digerSection = document.getElementById("digerSection");

    // Mahkeme düğmesine tıklanırsa Mahkeme Bölümü göster, Diğer Bölümü gizle
    mahkemeBtn.addEventListener("click", function () {
        mahkemeSection.style.display = "block";
        digerSection.style.display = "none";
    });

    // Diğer düğmesine tıklanırsa Diğer Bölümü göster, Mahkeme Bölümü gizle
    digerBtn.addEventListener("click", function () {
        mahkemeSection.style.display = "none";
        digerSection.style.display = "block";
    });

</script>