@model HukukBuroYonetimSistemi.Models.View.GorevAtamalarViewModel

<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Three charts -->
        <!-- ============================================================== -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Toplam Davalar</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash">
                                <canvas width="67" height="30"
                                        style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-success">4</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Tarihi Yaklaşanlar</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2">
                                <canvas width="67" height="30"
                                        style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">2</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Yeni Davalar(Bu Hafta)</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash3">
                                <canvas width="67" height="30"
                                        style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto">
                            <span class="counter text-info">1</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- PRODUCTS YEARLY SALES -->
        <!-- ============================================================== -->
        <!--<div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Products Yearly Sales</h3>
                    <div class="d-md-flex">
                        <ul class="list-inline d-flex ms-auto">
                            <li class="ps-3">
                                <h5><i class="fa fa-circle me-1 text-info"></i>Mac</h5>
                            </li>
                            <li class="ps-3">
                                <h5><i class="fa fa-circle me-1 text-inverse"></i>Windows</h5>
                            </li>
                        </ul>
                    </div>
                    <div id="ct-visits" style="height: 405px;">
                        <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                                class="chartist-tooltip-value">6</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- ============================================================== -->
        <!-- RECENT SALES -->
        <!-- ============================================================== -->
        <form method="get" action="/Mahkeme/GetMahkemelerByUserId">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Davalar</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                                <select id="userIdSelect" name="userId" class="form-select shadow-none row border-top">
                                    <option value="0">Atama Seçiniz</option>
                                    @foreach (var item in Model.Users)
                                    {
                                        <option value="@item.Id">@item.Name @item.SurName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Dosya No</th>
                                        <th class="border-top-0">Gelen Evrak Türü</th>
                                        <th class="border-top-0">İş Türü</th>
                                        <th class="border-top-0">Tebliğ Türü</th>
                                        <th class="border-top-0">Duruşma Tarihi</th>
                                        <th class="border-top-0">Görev Atamalar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.Mahkemeler){
                                    <tr>
                                        @*<tr>
                                            <td>${item.id}</td>
                                            <td class="txt-oflo">${item.mahkeme}</td>
                                            <td>Dosya No: ${item.dosyaNo}</td>
                                            <td class="txt-oflo">${item.tebligTarihi}</td>
                                            <td><span class="text-success">${item.tebligTuru}</span></td>
                                        </tr>*@
                                        <td>
                                            @item.Mahkeme.YargiTuru
                                        </td>
                                        <td>
                                            @item.Mahkeme.YargiBirimi
                                        </td>
                                        <td class="txt-oflo">
                                            @item.Mahkeme.GelenEvrakTuru
                                        </td>
                                        <td class="txt-oflo">
                                            @item.Mahkeme.IsTuru
                                        </td>
                                        <td class="txt-oflo">
                                            <span class="text-success">
                                                @item.Mahkeme.TebligTuru
                                            </span></td>
                                       @* <td>
                                             @item.Mahkeme.DurusmaTarihi
                                        </td>*@
                                        <td class="txt-oflo">
                                             @item.User.Name @item.User.SurName
                                        </td>
                                    </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- ============================================================== -->
        <!-- Recent Comments -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- .col -->
            <div class="col-md-12 col-lg-8 col-sm-12">
                <div class="card white-box p-0">
                    <div class="card-body">
                        <h3 class="box-title mb-0">Dava ile ilgili notlar</h3>
                    </div>
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row p-3 mt-0">
                            <div class="p-2"><img src="~/plugins/images/users/varun.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text ps-2 ps-md-3 w-100">
                                <h5 class="font-medium">James Anderson</h5>
                                <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
                                <div class="comment-footer d-md-flex align-items-center">
                                    <span class="badge bg-primary rounded">Pending</span>

                                    <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row p-3">
                            <div class="p-2"><img src="~/plugins/images/users/genu.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text ps-2 ps-md-3 active w-100">
                                <h5 class="font-medium">Michael Jorden</h5>
                                <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
                                <div class="comment-footer d-md-flex align-items-center">

                                    <span class="badge bg-success rounded">Approved</span>

                                    <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row p-3">
                            <div class="p-2"><img src="~/plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text ps-2 ps-md-3 w-100">
                                <h5 class="font-medium">Johnathan Doeting</h5>
                                <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
                                <div class="comment-footer d-md-flex align-items-center">

                                    <span class="badge rounded bg-danger">Rejected</span>

                                    <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card white-box p-0">
                    <div class="card-heading">
                        <h3 class="box-title mb-0">Chat Listing</h3>
                    </div>
                    <div class="card-body">
                        <ul class="chatonline">
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                    <img src="~/plugins/images/users/varun.jpg" alt="user-img" class="img-circle">
                                    <div class="ms-2">
                                        <span class="text-dark">
                                            Varun Dhavan <small class="d-block text-success d-block">online</small>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                    <img src="~/plugins/images/users/genu.jpg" alt="user-img" class="img-circle">
                                    <div class="ms-2">
                                        <span class="text-dark">
                                            Genelia
                                            Deshmukh <small class="d-block text-warning">Away</small>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                    <img src="~/plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle">
                                    <div class="ms-2">
                                        <span class="text-dark">
                                            Ritesh
                                            Deshmukh <small class="d-block text-danger">Busy</small>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                    <img src="~/plugins/images/users/arijit.jpg" alt="user-img" class="img-circle">
                                    <div class="ms-2">
                                        <span class="text-dark">
                                            Arijit
                                            Sinh <small class="d-block text-muted">Offline</small>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                    <img src="~/plugins/images/users/govinda.jpg" alt="user-img"
                                         class="img-circle">
                                    <div class="ms-2">
                                        <span class="text-dark">
                                            Govinda
                                            Star <small class="d-block text-success">online</small>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="call-chat">
                                    <button class="btn btn-success text-white btn-circle btn" type="button">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                    <button class="btn btn-info btn-circle btn" type="button">
                                        <i class="far fa-comments text-white"></i>
                                    </button>
                                </div>
                                <a href="javascript:void(0)" class="d-flex align-items-center">
                                    <img src="~/plugins/images/users/hritik.jpg" alt="user-img" class="img-circle">
                                    <div class="ms-2">
                                        <span class="text-dark">
                                            John
                                            Abraham<small class="d-block text-success">online</small>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../wwwroot/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="../wwwroot/scss/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../wwwroot/scss/core/loader/spinner.scss"></script>
    <script src="../wwwroot/js/app-style-switcher.js"></script>
    <script src="../wwwroot/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="../wwwroot/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../wwwroot/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../wwwroot/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../wwwroot/plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="../wwwroot/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../wwwroot/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>

<script>
    const userIdSelect = document.getElementById("userIdSelect");

    userIdSelect.addEventListener("change", function () {
        const selectedUserId = userIdSelect.value;
        console.log("selectedUserId")
        console.log(selectedUserId)

        if (selectedUserId == 0) {
            fetch(`/Mahkeme/GetMahkemeler`)
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            fetch(`/Mahkeme/GetMahkemelerByUserId?userId=${selectedUserId}`)
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });

    function updateTable(data) {
        const tableBody = document.querySelector(".table tbody");
        tableBody.innerHTML = "";

        data.forEach(item => {
            const row = `
                <tr>
                    <td>${item.dosyaNo}</td>
                    <td>${item.mahkeme}</td>
                    <td class="txt-oflo">${item.gelenEvrakTuru}</td>
                    <td class="txt-oflo">${item.isTuru}</td>
                    <td><span class="text-success">${item.tebligTuru}</span></td>
                    <td class="txt-oflo">${item.durusmaTarihi}</td>
                </tr>
            `;

            tableBody.insertAdjacentHTML("beforeend", row);
        });
    }

</script>